<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Django Web App</title>
</head>
<body>
<div>
	<h1>Django web app with authentication delegated to Globus Auth</h1>
	<p>
		<br/>
		{% if user and not user.is_anonymous %}
			Hello {{ user.get_full_name|default:user.username }}!<br/>
			&nbsp; Username: {{ user.username }}<br/>
			&nbsp; Email: {{ user.email }}<br/>
			&nbsp; First name: {{ user.first_name }}<br/>
			&nbsp; Last name: {{ user.last_name }}<br/>
			&nbsp; Date joined: {{ user.date_joined }}<br/>
			&nbsp; Last login: {{ user.last_login }}<br/>
			&nbsp; UUID: {{ uuid }}<br>
			&nbsp; Access token: {{ access_token }}<br/>
			&nbsp; Refresh token: {{ refresh_token }}<br/>
			<br/>
			<a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
		{% else %}
			<a href="{% url 'social:begin' 'globus' %}?next={{ request.path }}">Login with Globus</a>
		{% endif %}
	</p>
</div>
</body>
<footer class="footer">
	<div class="container-fluid">
		<h5>&#169; HuBMAP Consortium</h5>
	</div>
</footer>
</html>