#hubmapnav{
	background-color:#BE1E2D;
}
#navhubmaplink{
	color:#aaa;
}
.register, .login, .home{
outline:none;
}
.homenav, .dropdown-menu, #navcontainer, .logout {
font-size:20px;
}
#brand-image{
	height:40px;
	margin-top:-32%;
}
#brand-image2{
	height:40px;
	margin-top:-8%;
}
#datatypeheader{
	background-color:#530000;
	color:#fff;
	padding:10px;
}
#HubMapMain1{
	height:650px;
	background-color:#ddd;
	padding-top:20px;
}
#HubMapMain2{
	height:650px;
	background-color:#bbb;
}
html, body {
  height: 100%;
}
#HubMapWrap {
  min-height: 100%;
}
#HubMapMain {
  overflow:hidden;
  padding-bottom:-100px; /* this needs to be bigger than footer height*/
}
.HubMapFooter {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 70px;
  clear:both;
  padding-top:20px;
  background-color:#530000;
  color:#fff;
}
#HubMapButton{
	padding:10px;
}
#InverseBadge{
	background-color:#530000;
	margin-left:3px;
}
#ContributorsOptions{
	padding-right:15px;
	padding-left:15px;
	border-color:transparent;
}
#ContactUsForm{
	width:40%;
	float:left;
}
#SubmitComment{
	padding:5px;
}
#ForgotPassword{
	padding:10px;
}
#ButtonLink{
	text-decoration:none;
	color:#fff;
}
#ContactUsForm{
	width:40%;
}
#AdminButton{
	background-color:#530000;
	border-color:#333;
}
#HomePanel{
	margin-top:100px;
	opacity:.75;
}