#hubmapnav{
	background-color:#b00;
}
#navhubmap{
	background-color:#204d74;
}
#navitemlink{
	color:#aaa;
}
.register, .login, .home{
outline:none;
}
.homenav, .dropdown-menu, #navcontainer, .logout {
font-size:12px;
}
#brand-image{
	height:40px;
	margin-top:-32%;
}
#brand-image2{
	height:40px;
	margin-top:-8%;
}
#itemheader{
	background-color:#b00;
	color:#fff;
	padding:10px;
}
#HubmapMain1{
	height:500px;
	background-color:#ddd;
	padding-top:20px;
}
#HubmapMain2{
	height:500px;
	background-color:#bbb;
}
html, body {
  height: 100%;
}
#HubmapWrap {
  min-height: 100%;
}
#HubmapMain {
  overflow:hidden;
  padding-bottom:-80px; /* this needs to be bigger than footer height*/
}
.HubmapFooter {
	position: fixed;
  	left: 0;
  	bottom: 0;
	text-align: center;
  	margin-top: -70px; /* negative value of footer height */
  	height: 70px;
  	padding-top:20px;
  	background-color:#b00;
  	color:#fff;
  	width:100%;
}
#HubmapButton{
	padding:10px;
}
#InverseBadge{
	background-color:#b00;
	margin-left:3px;
}
#MainOptions{
	padding-right:15px;
	padding-left:15px;
	border-color:transparent;
}
#ContactUsForm{
	width:40%;
	float:left;
}
#SubmitComment{
	padding:5px;
}
#ForgotPassword{
	padding:10px;
}
#ButtonLink{
	text-decoration:none;
	color:#fff;
}
#ContactUsForm{
	width:40%;
}
#AdminButton{
	background-color:#b00;
	border-color:#333;
}
#HomePanel{
	margin-top:100px;
	opacity:.75;
}

input[type=text], input[type=email], select, textarea {
  width: 80%;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.contactustext label {
	margin-right: 6px;
  padding: 0;
  display: block;
  padding-top: .1em;
  float: left;
}

div.contactustext input,
div.contactustext textarea {
  margin-top: 5px;
	margin-left: 10px;
  padding: 0;
	padding-left: 1em;
  display: block;
}


div.contactustext {
  margin: 0;
  padding: 0;
}

