{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--The Above 3 Tags Must Be First-->
    <meta name="description" content="HubMap Web portal">
    <meta name="author" content="Computational Biology department, Carnegie Mellon University.">
    <!--Favicon-->
    <link rel="icon" type="image/png" href="{% static "assets/assets1/img/favicon.jpg" %}">
    <title>HubMap Web portal.</title>
    <!--Style Sheets-->
    <link href="{% static "assets/assets1/css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "assets/assets1/css/style.css" %}" rel="stylesheet" media="screen">
    <link href="sticky-footer-navbar.css" rel="stylesheet">
  </head>
  <body>
        {% block content %}
        {% endblock %}
  </body>
</html>