{% extends "base.html" %}
{% block content %}
    <!-- Main Body Start-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="HubMapMain2">
        <div class="container">
            <div class="well">
                <h3>Contact Us</h3>
                <div class="form-group">
                     <input type="password" name="password" id="ContactUsForm" class="form-control textarea-sm" placeholder="Questions, Comments, Concerns...">
                     <button class="button btn-primary" id="SubmitComment"><a href="mailto:mruffalo@cs.cmu.edu" id="ButtonLink">Submit</a></button>
                </div>
            </div>
        </div>
    </div>
    <!--Course Main Body End-->
{% endblock %}