{% extends "base.html" %}
{% block content %}
<body>
<div class="col-lg-10 col-md-9 col-sm-8 col-xs-7" id="HubMapMain1">
                    <div class="container-fluid">
                         <div class="well" id="MainWell">
                            <h2> Welcome to HuBMAP portal! </h2>
                             <p>The data is available at Globus. Please go to <a href="https://app.globus.org/file-manager">Globus File manager</a> to access HuBMAP data. Please note that you need Globus authentication to access the data.</p>
                        </div><br><br>
                    </div>
                </div>
</body>
{% endblock %}