{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--The Above 3 Tags Must Be First-->
    <meta name="description" content="HuBMAP Web portal">
    <meta name="author" content="Computational Biology department, Carnegie Mellon University.">
    <!--Favicon-->
    <link rel="icon" type="image/png" href="{% static "assets/img/hubmap.png" %}">
    <title>HuBMAP Web portal!</title>
    <!--Style Sheets-->

    <link href="{% static "assets/css/bootstrap.css"%}" rel="stylesheet" media="screen">
    <link href="{% static "assets/css/style.css"%}" rel="stylesheet" media="screen">
    <link href="{% static "assets/css/sticky-footer-navbar.css"%}" rel="stylesheet">
        <!--FontAwesome-->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
  </head>
<body  style="background-image:url('{% static "assets/img/background.png" %}');background-color: rgba(255,255,255,0.8);background-size:cover;background-blend-mode: lighten;">
    <div id="HubmapWrap">
        <div id="HubmapMain">
         <nav class="navbar navbar-inverse navbar-fixed-top" id="hubmapnav">
              <div class="container-fluid">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="landing">
                        <img id="brand-image" src="{% static "assets/img/hubmap.png" %}" alt="HuBMAP Logo">
                      </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
{#                        <li >#}
{#                          <a href="../projects" >Projects</a>#}
{#                        </li>#}
{#                       <li >#}
{#                          <a href="../analysis" >Analysis</a>#}
{#                        </li>#}
                           <li >
                          <a href="{% url 'index' %}" >Study Index</a>
                        </li>
                          <li >
                          <a href="{% url 'repository' %}" >Data Repository</a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'support' %}">Support</a></li>
                            <li><a href="{% url 'contactus' %}">Contact Us</a></li>
                          </ul>
                        </li>
                      </ul>
{#                      <ul class="nav navbar-nav navbar-right">#}
{#                        <li class="dropdown">#}
{#                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>#}
{#                          <ul class="dropdown-menu">#}
{#                            <li><a href="logout">Logout</a></li>#}
{#                          </ul>#}
{#                        </li>#}
{#                      </ul>#}
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
              </div>
            </nav>
            <div class="container-fluid" style="background-color: transparent;">
        <!--Main Body Start-->
            <div class="row" style="margin-left: 60px;">
                <div class="col-lg-12 col-md-12 col-sm-8 col-xs-7" id="HubMapMain1">
                    <div class="container-fluid" style="background-color: transparent;" >
                         <div class="well" id="MainWell" style="background-color: transparent;border: none;">
                            <h2 ><strong> Welcome to HuBMAP portal!</strong> </h2>
                            <p style="color:black;font-size: medium;">Click <a href="{% url 'index' %}"> here</a> to navigate. </p>
                             <p style="color:black;font-size: medium;"> The Human BioMolecular Atlas Program (HuBMAP) is a consortium composed of diverse research teams funded by the National Institutes of Health (<a href="https://commonfund.nih.gov/HuBMAP">HuBMAP NIH</a>). HuBMAP is committed to developing the next generation of molecular analysis technologies, computational tools, and to generate foundational tissue maps in order to accelerate the construction of an atlas of the human body for the understanding the relationship between tissue organization and function. HuBMAP values secure, open sharing, and collaboration with other consortia and the wider research community.</p>
                        </div><br><br>
                    </div>
                </div>
            </div>
        </div>
        </div>

     </div>
    <footer class="HubmapFooter">
    <div class="container">
        <h5>&#169; HuBMAP : Computational Biology, Carnegie Mellon University.</h5></div>
    </footer>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static "assets/js/bootstrap.js" %}"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>

</html>
