{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div id="container"></div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"> </script>
<script src="{% static "assets/js/app.js" %}"></script>

<script>
var paper = Raphael("container", 500, 300);
var dot = paper.circle(250, 150, 30).attr({
fill: "#FFF",
stroke: "#000",
"stroke-width": 1
});
window.onload = function() {
var paper = new Raphael("container", 500, 300);
for(var i = 0; i < 5; i+=1) {
var multiplier = i*5;
paper.circle(250 + (2*multiplier), 150 + multiplier, 50 - multiplier)}}

var newdot = paper.circle(250, 150, 30).attr({
gradient: '90-#000-#FF0000',
stroke: '#000',
'stroke-width': 3,
'stroke-linejoin': 'round',
rotation: -120
});
</script>
<script></script>
</body>
</html>