{% extends "base.html" %}
{% block content %}
    <div class="row" style="margin-left: 30px; margin-top: -30px">
        <div class="col-lg-12 col-md-12 col-sm-8 col-xs-7" id="HubMapMain1">
            <div class="container-fluid" style="background-color: transparent; border:none" >
                <p>Image Url path: {{ url_path }}</p>
                <a href="#" class="pic" title="Click here to view larger Image and zoom in/out!"><img src="{{ url_path }}" alt="preview_image" height="40%" width="40%">
                </a>
            </div>
        </div>
    </div>
 {% endblock %}