{% extends "base.html" %}
{% block content %}
    <div style="margin-top: -50px">
    <table cellspacing="30">
        <thead>
            <tr>
                <td>Field Name &nbsp &nbsp </td>
                <td>Contents</td>
            </tr>
        </thead>
         <tr>
             <td>Institution &nbsp &nbsp </td>
             <td><a href="{% url 'institution' study.institution.id %}">{{ study.institution.name }}</a> </td>
        </tr>
        <tr>
            <td>Datatype &nbsp &nbsp </td>
             <td><a href="{% url 'datatype' study.data_type.id %}">{{ study.data_type.name }}</a> </td>
        </tr>
        <tr>
            <td>Tissue &nbsp &nbsp </td>
             <td><a href="{% url 'tissue' study.tissue.id %}">{{ study.tissue.name }}</a> </td>
        </tr>
          <tr>
            <td>Subclass &nbsp &nbsp </td>
             <td>{{ study.subclass.model }}</td>
        </tr>
      {% for key,value in fields.items %}
        <tr><td>{{ key }} &nbsp &nbsp </td>
            {% if key == "genes" %}
                <td><a href="{% url 'gene_detail' value %}">{{ value }}</a></td>
            {% elif key == "proteins" %}
                <td><a href="{% url 'protein_detail' value %}">{{ value }}</a></td>
            {% elif key == "preview_image" %}
               <td><a href="{% url 'show_image' study.id %}" title="Click here to view the Image!"><img src="{{ value }}" alt="{{ key }}" style="float:left;height: 200px;width: 200px">
                    </a> </td>
            {% else %}
                 <td> {{ value }}</td>
            {% endif %}
        </tr>
      {% endfor %}
    </table>
    <!--{ form.base_fields }}-->
    </div>
 {% endblock %}
