<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HuBMAP Study Detail</title>
</head>
<body>
    <div>
    <h1></h1>
    <table>
        <thead>
            <tr>
                <td>Field Name</td>
                <td>Contents</td>
            </tr>
        </thead>
         <tr>
             <td>Institution</td>
             <td><a href="./{{study.institution.name}}">{{ study.institution.name }}</a> </td>
        </tr>
        <tr>
            <td>Datatype</td>
             <td><a href="./{{study.data_type.name}}">{{ study.data_type.name }}</a> </td>
        </tr>
        <tr>
            <td>Tissue</td>
             <td><a href="./{{study.tissue.name}}">{{ study.tissue.name }}</a> </td>
        </tr>
          <tr>
            <td>Subclass</td>
             <td>{{ study.subclass }}</td>
        </tr>
      {% for field in fields %}
        <tr><td>{{ field }} {{ field }}</td></tr>
      {% endfor %}
    </table>
    </div>
</body>
  <footer class="footer">
    <div class="container-fluid">
        <h5>&#169; HubMap : Computational Biology, Carnegie Mellon Unievrsity.</h5>
    </div>
  </footer>
</html>
