{% extends "base.html" %}
{% block content %}
				<!--Navigation Bar End-->
				<!--Main Body Start-->
					<!--Course Main Body Start-->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="HubMapMain2" style="margin-top: -40px">
							<div class="well">
								<h3>Support</h3>
								<p>If you are experiencing any trouble using Web portal, please call <b>XXX-XXX-XXX</b> to troubleshoot.</p>
								<p><b>FAQ:</b></p>
								<p><i><u>How do I access data?</u></i></p>
								<p>In order to access your data, simply tap the "Data Repository" menu on the navigation bar above to see a list of data.</p>
								<p><i><u>How do I see projects in HubMap?</u></i></p>
								<p>When you click on the "projects" option above in the menu above, to navigate to list of projects.</p>
								<p><i><u>How do I access analysis of data?</u></i></p>
								<p>In order to access data analysis, simply tap the "Analysis" menu above. </p><br>
								</div>
						</div>
					<!--Course Main Body End-->
				</div>
				<!--Main Body End-->
			</div>
		</div>
    <!--Course Main Body End-->
{% endblock %}