{% extends "base.html" %}
{% block content %}
				<!--Navigation Bar End-->
				<!--Main Body Start-->
				<div class="row">
					<!--Course Main Body Start-->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="HubMapMain2">
						<div class="container">
							<div class="well">
								<h3>Support</h3>
								<p>If you are experiencing any trouble using Web portal, please call <b>XXX-XXX-XXX</b> to troubleshoot.</p>
								<p><b>FAQ:</b></p>
								<p><i><u>How do I access data?</u></i></p>
								<p>In order to access your courses, simply tap the "Courses" dropdown menu on the navigation bar above. Then, pick which course you want to navigate to.</p>
								<p><i><u>How do I add a new course?</u></i></p>
								<p>When you click on the "Courses"option above in the navigation bar, the dropdown menu should display an option for "Add a Course"</p>
								<p><i><u>How do I access my assignments?</u></i></p>
								<p>In order to access your assignments, simply tap the "Assignments" dropdown menu on the navigation bar above. Then, pick which assignment you want to navigate to.</p><br>
								</div>
							</div>
						</div>
					</div>
					<!--Course Main Body End-->
				</div>
				<!--Main Body End-->
			</div>
		</div>
		<!--Footer Start-->

		<!--Footer End-->
		<!--Scripts-->
		<script src="http://code.jquery.com/jquery.js"></script>
    	<script src="{% static "assets/assets/js/bootstrap.js" %}"></script>
	</body>
</html>