#hubmapnav{
	background-color:#005083;
}
#navhubmap{
	background-color:#204d74;
}
#navitemlink{
	color:#aaa;
}
.register, .login, .home{
outline:none;
}
.homenav, .dropdown-menu, #navcontainer, .logout {
font-size:12px;
}
#brand-image{
	height:40px;
	margin-top:-32%;
}
#brand-image2{
	height:40px;
	margin-top:-8%;
}
#itemheader{
	background-color:#005083;
	color:#fff;
	padding:10px;
}
#HubmapMain1{
	height:500px;
	background-color:#ddd;
	padding-top:20px;
}
#HubmapMain2{
	height:650px;
	background-color:#bbb;
}
html, body {
  height: 100%;
}
#HubmapWrap {
  min-height: 100%;
}
#HubmapMain {
  overflow:hidden;
  padding-bottom:-80px; /* this needs to be bigger than footer height*/
}
.HubmapFooter {
	position: fixed;
  	left: 0;
  	bottom: 0;
	text-align: center;
  	margin-top: -70px; /* negative value of footer height */
  	height: 70px;
  	padding-top:20px;
  	background-color:#005083;
  	color:#fff;
  	width:100%;
}
#HubmapButton{
	padding:10px;
}
#InverseBadge{
	background-color:#005083;
	margin-left:3px;
}
#MainOptions{
	padding-right:15px;
	padding-left:15px;
	border-color:transparent;
}
#ContactUsForm{
	width:40%;
	float:left;
}
#SubmitComment{
	padding:5px;
}
#ForgotPassword{
	padding:10px;
}
#ButtonLink{
	text-decoration:none;
	color:#fff;
}
#ContactUsForm{
	width:40%;
}
#AdminButton{
	background-color:#005083;
	border-color:#333;
}
#HomePanel{
	margin-top:100px;
	opacity:.75;
}