.App {
  text-align: center;
  color: #424242;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px; 
  background-color: #fafafa;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

body{
  height: 100%;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#human {
  transform:scale(0.25);
  -webkit-transform:scale(0.25);
   margin-top: 10px;
   margin-left: -350px;
   margin-top: -250px;
}
.svgclass {
  margin-left: 20px;
  width: 300px;
}

#BrainHuman{
  cursor: pointer;
  opacity: 0.4;
}

#BrainHuman g{
  transition: 2s ease-in-out;
}

#LungHuman{
  opacity: 0.4;
  transition: fill 2s;
  fill: red;
}

#Kidney{
  width: 10%;
  height: 10%;
  cursor: pointer;
}

#LungHuman{
  cursor: pointer;
}

nav {
  text-decoration:none;
}

.aclass{
  text-decoration: none !important;
color: white !important;
display: inline-block;
white-space: nowrap;
padding: 0.5rem 1rem 0.5rem 0.5rem;
text-align: center;
font-size: 1rem;
min-width: 4.5rem;
margin: 2px;
height: 1.5rem;
border-radius: 6px;
transition: all 0.25s ease 0s;
background-color: #fafafa;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity:1;
  }
}

.spanclass{
  margin-left: 2rem;
  margin-top: -100px;
}

.headingclass{
  color:white;
}

.mainRow{
  margin-top: -550px;
  width:350px;
}

.studiesList{
  margin-top: -500px; 
}

.studieschart{
  margin-top: -1350px; 
  margin-left: 835px;
}

.studiesdashboard{
  margin-top: -300px; 
  margin-left: 400px;
}

#tooltip {
  dominant-baseline: hanging; 
  z-index: 1;
}


#chart {
  background-color: #F5F2EB;
border: 1px solid #CCC;
}

.bar {
shape-rendering: crispEdges;
}

.bar-label{
  fill: #000;
text-anchor: middle;
font-size: 18px;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.gridline path,
.gridline line{
fill: none;
stroke: #ccc;
shape-rendering: crispEdges;
}