.App {
  text-align: center;
  color: #424242;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
  background-color: #eeeeee;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

body{
  height: 100%;
  width:100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #eeeeee;
}

.gridContainer{
  background-color: #eeeeee;
  height: 100%;
  width:100%;
  display: flex; 
  justify-content: space-around;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#human {
  transform:scale(0.7);
  -webkit-transform:scale(0.7);
   margin-top: -180px;
   margin-left: -260px;
}
.svgclass {
  margin-left: 20px;
}

#BrainHuman{
  cursor: pointer;
  opacity: 0.4;
}

#BrainHuman g{
  transition: 2s ease-in-out;
}

#LungHuman{
  opacity: 0.4;
  transition: fill 2s;
  fill: red;
}

#Kidney{
  width: 10%;
  height: 10%;
  cursor: pointer;
}

#LungHuman{
  cursor: pointer;
}

nav {
  text-decoration:none;
}

.aclass{
  text-decoration: none !important;
color: white !important;
display: inline-block;
white-space: nowrap;
padding: 0.5rem 1rem 0.5rem 0.5rem;
text-align: center;
font-size: 1rem;
min-width: 4.5rem;
margin: 2px;
height: 1.5rem;
border-radius: 6px;
transition: all 0.25s ease 0s;
background-color: #fafafa;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

.spanclass{
  margin-left: 2rem;
  margin-top: -100px;
}

.headingclass{
  color:white;
}

.mainRow{
  width:350px;
}

.studiesList{
  margin-top: 100px;
}

#tooltip {
  dominant-baseline: hanging;
  z-index: 1;
}


#chart {
  background-color: #F5F2EB;
border: 1px solid #CCC;
}

.bar {
shape-rendering: crispEdges;
}

.bar-label{
  fill: #000;
text-anchor: middle;
font-size: 18px;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.gridline path,
.gridline line{
fill: none;
stroke: #ccc;
shape-rendering: crispEdges;
}

div#layout {
  text-align: center;
}

#chartcontainer {
  width: 1100px;
  height: 700px;
  margin: auto;
  background-color: #fafafa;
}

#barchart {
  width: 100%;
  height: 100%;
}

.bar {
  fill: #607d8b;
}

#barchart .text {
  font-size: 12px;
  fill: #282c34;
}

#barchart .path {
  stroke: gray;
}

#barchart .line {
  stroke: gray;
}

#barchart .line#limit {
  stroke: #263238;
  stroke-width: 3;
  stroke-dasharray: 3 6;
}

#barchart .grid path {
  stroke-width: 0;
}

#barchart .grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.3;
}

#barchart .text.divergence {
  font-size: 14px;
  fill: #2F4A6D;
}

#barchart text.value {
  font-size: 14px;
}

#barchart text.title {
  font-size: 22px;
  font-weight: 600;
}

#barchart text.label {
  font-size: 14px;
  font-weight: 400;
}

#barchart .text.source {
  font-size: 10px;
}